<section id="course">
  <div class="container jumbotron">
    <div class="content">
      <p class="title">Course Content</p>
      <ol class="topics">
        <a href="/course/fbf">
          <li class="fbf outer">Frontend vs Backend vs FullStack</li>
        </a>
        <a href="/course/front">
          <li class="front outer">
            <span class="topic">FrontEnd</span>
            <ul class="subTopics">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
          </li>
        </a>
        <a href="/course/back">
          <li class="back outer">
            <span class="topic">BackEnd</span>
            <ul class="subTopics">
              <li>NodeJS</li>
              <li>Express</li>
              <li>MongoDB</li>
            </ul>
          </li>
        </a>
      </ol>
    </div>

    <div class="main">
      <div class="title">
        <p>Frontend vs Backend vs FullStack</p>
      </div>

      <div class="lesson jumbotron">