<%- include("./partials/header.ejs") %>

  <div id="lms" class="jumbotron">
    <h1>Learning Management System</h1>
    <h3>Start Learning a New Skill. Get Trained.</h3>
    <a href="/signup"><button class="btn-md">
        Get Started <div style="display: inline-block;"><i class="fa fa-chevron-right"></i><i
            class="fa fa-chevron-right"></i></div></button></a>
  </div>

  <%- include("./partials/footer.ejs") %>