#course {
  width: 100%;
  height: 100vh;
  margin-bottom: 2rem;
  grid-area: page_section;
}

#course .container {
  min-width: 95%;
  height: 100%;
  padding: 2rem;
  margin-bottom: 0;
  display: grid;
  grid-template-areas: "list main";
  grid-template-columns: 1fr 2fr;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid var(--color2);
  box-shadow: 0 0 10px black;
}

#course .content {
  grid-area: list;
  padding-right: 1rem;
  height: 100%;
  border-right: 3px solid var(--color2);
}

#course .title {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px solid var(--color2);
}

#course .content p {
  font-size: 1.5rem;
}

#course .content .topics {
  margin: 0;
  list-style: inside;
  list-style-type: decimal;
  text-align: left;
}

#course .content .subTopics {
  margin: 0;
  list-style: inside;
  list-style-type: disc;
  text-align: left;
}

#course .content li {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.5em 0;
  padding: 0.5em 0;
  transition: 0.2s;
}

#course .content .topic {
  font-size: 1.2rem;
  font-weight: 500;
}

#course .content .subTopics li {
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5em 0;
  transition: 0.2s;
}

#course .content .topics li:hover {
  cursor: pointer;
  color: var(--color2);
  text-decoration: underline var(--color4);
}

#course .main {
  grid-area: main;
  border-left: 3px solid var(--color2);
}

#course .title {
  margin-bottom: 0rem;
}

#course .lesson {
  border-radius: 0px;
  padding: 1.5rem 2rem;
  margin: 0;
  height: 580px;
  overflow-y: scroll;
  box-sizing: content-box;
  white-space: wrap;
}

#course .lesson .instructions {
  text-align: justify;
  margin: 0 0 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

#course .vid {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

#course iframe {
  width: 100%;
  border-radius: 10px;
}

#course .lesson .mark {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--color2);
  padding: 0.5em 1em;
  width: fit-content;
  background-color: rgba(0, 216, 0, 0.6);
}

#fbf {
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 860px) {
  #course {
    height: auto;
  }
  #course .container {
    width: 95%;
    height: 900px;
    padding: 2rem 1rem;
    grid-template-areas: "list" "main";
    grid-template-columns: 1fr;
  }
  #course .content ul {
    display: none;
    font-size: 0rem;
  }
  #course .main {
    padding-top: 1rem;
    border-top: 3px solid var(--color2);
    border-left: 0px;
  }
  #course .content {
    padding-right: 0;
    border-right: 0px;
    border-bottom: 3px solid var(--color2);
  }
  #course .content .outer {
    padding: 0;
    text-align: center;
    margin: 0.5em 0;
  }
  #course .lesson {
    padding: 1.5rem 1rem;
  }
  #fbf {
    height: auto;
  }
}
