header {
  grid-area: header;
}

header .container,
header .container2 {
  max-width: 95%;
  padding: 1.5rem 4rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

header #logo {
  color: var(--color2);
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
}

header button {
  padding: 0.5em;
  margin: 0 0.5em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--color2);
  background-color: transparent;
  transition: 0.2s;
}

header button:hover {
  background-color: var(--color2);
}

#nav {
  width: 100%;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border-bottom: 5px solid var(--color2);
}

#nav #greet {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

nav ul {
  margin: 0 0 0.5rem 0;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  align-items: center;
  justify-content: end;
}

nav li {
  width: fit-content;
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.4em 2em;
  transition: 0.1s;
}

.course {
  border-left: 1px solid var(--color2);
  border-right: 1px solid var(--color2);
}

nav li:hover {
  color: var(--color2);
  transition: 0.1s;
}

li.current {
  margin: 0 0.25rem;
  color: black;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 40%,
    var(--color1) 100%
  );
  border-radius: 10px;
  border: 1px solid var(--color2);
  border-bottom: 4px solid var(--color2);
}

@media (max-width: 780px) {
  nav {
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
  }

  #nav #greet {
    text-align: left;
  }
}

@media (max-width: 520px) {
  header .container {
    padding: 1.5rem 0;
    width: 98%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  header .register {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 480px) {
  nav li {
    width: fit-content;
    text-align: center;
    padding: 0.4em 0.4em;
  }
}
